/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  background-color: #E8E4E1;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.map img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.map {
  position: relative;
}

.map .relocate {
  position: absolute;
  height: 2rem;
  width: 2rem;
  text-align: center;
  bottom: 1%;
  left: 3%;
  font-family: 'Entypo';
  font-size: 2rem;
  line-height: 1;
  background-color: rgba(255,255,255,0.7);
}

.map .map-backside {
  position: absolute;
  height: 2rem;
  width: 2rem;
  text-align: center;
  bottom: 1%;
  right: 3%;
  font-family: 'Entypo';
  font-size: 2rem;
  line-height: 1;
  background-color: rgba(255,255,255,0.7);
}

.card-container {
  width: 100%;
}

ul {
  list-style-type: none;
  font-size: 1rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  margin-bottom: 2%;
  line-height: 1.2rem;
  padding: 4% 0;
}

li.one {
  border-left: solid 10px #B1C953;
}

li.two {
  border-left: solid 10px #37ACB5;
}

li.three {
  border-left: solid 10px #FF9646;
}

li span {
  font-family: 'Entypo';
  font-size: 2rem;
}

.card-container .blood-a {
  color: #ada;
}

.card-container .blood-b {
  color: #add;
}

.card-container .blood-c {
  color: #aad;
}

.card-container .info {
  display: inline-block;
  font-family: 'Entypo';
  font-size: 3rem;
  color: #999;
  margin-right: 0.5rem;
  float: right;
  line-height: 3rem;
}

.card-container .time {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  min-width: 40px;
}

.card-container .address {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

.card-container .city {
  font-size: 0.8rem;
  font-weight: 300;
}

@font-face {
  font-family: 'Entypo';
  src: url("../fonts/entypo.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Entypo Social';
  src: url("../fonts/entypo-social.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
