<div class="map">
	<img src="img/map.jpg">
	<div class="relocate">&#10146;</div>
	<div class="map-backside">&#9206;</div>
</div>


<div class="card-container">
	<ul>
		<li class="one">
			<div class="time">8:30<br>AM</div>
			<div class="address">415 Jackson Street<br><span class="city">San Francisco, CA</span></div>
			<div class="info">&#59234;</div>
		</li>
		<li class="two">
			<div class="time">10:00<br>AM</div>
			<div class="address">666 2nd Street<br><span class="city">San Francisco, CA</span></div>
			<div class="info">&#59234;</div>
		</li>
		<li class="three">
			<div class="time">4:30<br>PM</div>
			<div class="address">33 Octavia<br><span class="city">San Francisco, CA</span></div>
			<div class="info">&#59234;</div>
		</li>
	</ul>
</div>